*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


ul li{
    list-style:none;
}

.header{
    width:100vw;
    height:120px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color:#ffffff;
    box-shadow: -1px 7px 5px -2px rgba(0,0,0,0.32);
    -webkit-box-shadow: -1px 7px 5px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: -1px 7px 5px -2px rgba(0,0,0,0.32);
    position:fixed;
    top:0;
    z-index: 100000;
}

.header__icon{
    width:50px;
    height:50px;
    background-color:rgb(90, 90, 175);
    margin:10px;
}


.header__nav{
    width:100%;
}

.nav__list{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.list{
    font-size: 19px;
    height:35px;
    transition:.1s;
}

.list:hover{
    color:#04a9f4;
    border-bottom: 3px solid #04a9f4;
}


.main{
    width:95vw;
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 200px;
    z-index:-1;
}

.main__title{
    width: 100%;
    height: 10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width:1024px){
    .main__title{
        flex-direction:row;
    }
}

.title{
    font: 700 48px/1.2 "Poppins", sans-serif;
}

@media screen and (min-width:1024px){
    .title{
        font-size: 50px;
    }
}


.main__button{
    width:100%;
    height:45px;
    border-radius: 10px;
    border:none;
    background-color:#04a9f4;
    color:white;
}

@media screen and (min-width:1024px){
    .main__button{
        width:200px;
    }
}

.content{
    width:100%;
    margin-top:30px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .content{
        flex-direction: row;
        justify-content: space-between;
        width:100%;
        height:100%;

    }
}

.content__photos{
    width: 100%;
    height: 700px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


.photos{
    display:none;
}




@media screen and (min-width:1024px){
    .content__photos{
        width: 35%;
        height: 700px;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .photos{
        display: block;
        width: 100%;
    }
}

.content__thumbnail {
    width:100%;
    height: 17%;
    display:flex;
    align-items: stretch;
    justify-content: space-between;
}

.thumbnail{
    width:110px;
    border-radius: 10px;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/malamute1.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: top center;
}


.thumbnail:nth-child(4){
    display:none;
}
@media screen and (min-width: 1024px) {
    .content__thumbnail{
        height:17%;
        justify-content: space-between;
    }

    .thumbnail{
        width:90px;
    }

    .thumbnail:nth-child(4){
        display:block;
    }
}

.content__photo{
    width:100%;
    height:68%;
    border-radius: 10px;
    background-color:black;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/malamute1.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: 50% 10%;
}

@media screen and (min-width:1024px){
    .content__photo{
        width:100%;
        height:60%;
    }
}


.content__about{
    width:100%;
    height:650px;
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (min-width:1024px){
    .content__about{
        width:58%;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        flex-direction: column;
    }
}

.content__description, .content__more{
    width: 100%;
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-direction: column;
}


.content__more{
    margin-top:50px;
}

.content__more h1{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    font: 700 28px/1.2 "Poppins", sans-serif;
}

.description__column{
    width: 100%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width:1024px){
    .content__description{
        width: 100%;
        height:32%;
        display:flex;
        align-items:center;
        justify-content: space-between;
        flex-direction: row;
    }

    .description__column{
        height:100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .description__column:nth-child(2){

    }

    .content__more{
        height:32%;
        justify-content: flex-start;
    }
}

.info{
    width:100%;
    align-self: flex-start;
    margin-top:20px;
}


.more{
    width:100%;
    margin-top: 10px;
    font-size: 20px;
}


.more__item{
    word-wrap: break-word;
    margin-top:20px;
    display: flex;
}

.more__item span{
    font-weight: 900;
}

.more__item p{
    margin-left: 10px;
}

.more__item:nth-child(6) p{
    margin-left: 0;
}

@media screen and (min-width:1024px){
    .info{
        display:flex;
        flex-direction: column;
        margin-top:35px;
        justify-content: space-between;
    }

    
}


.main__ubication{
    width:100%;
    margin-top:260px;
    background-color: #ede7f6;
    border-radius: 15px;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.main__ubication h4{
    color:#403c92;
    font-weight: 900;
}

.ubication{
    display:flex;
    flex-direction: column;
}

.ubication__icon img{
    width:50px;
    height:50px;
    object-fit: cover;
}


@media screen and (min-width:1024px){
    .main__ubication{
        width:58%;
        height:110px;
        margin-top:0;
        align-self: flex-end;
    }

    
}


.options{
    width: 95vw;
    margin-top:100px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.options h1{
    font-size: 25px;
}

.items{
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.option__item{
    width:250px;
    height:300px;
    border-radius: 10px;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    box-shadow: 1px 4px 5px 5px rgba(0,0,0,0.07);
-webkit-box-shadow: 1px 4px 5px 5px rgba(0,0,0,0.07);
-moz-box-shadow: 1px 4px 5px 5px rgba(0,0,0,0.07);
}

@media screen and (min-width:1024px){
    .items{
        width:100%;
        display:flex;
        align-items: center;
        justify-content:space-evenly;
        flex-wrap: wrap;
    }

    
}


.footer{
    width:100%;
    margin-top: 100px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
}

.footer__logo{
    width:100%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.footer__logo hr{
    width: 40%;
}

.footer__icon{
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: blue;
}



.mail{
    width:100%;
    height:200px;
    background-color:#e1f5fe;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding:10px;
    margin-bottom:10px;
}


.mail span:nth-child(1){
    font-weight: 900;
    font-size: 20px;
    color:#0477bd;
    text-align: center;
}

.form{
    width:90%;
}

.form input{
    width:70%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding:5px;
    font-size: 19px;
}

.form button{
    height: 40px;
    width: 25%;
    border-radius: 5px;
    color:white;
    border:none;
    background-color: #694fb8;
}

@media screen and (min-width:1024px){
    .footer__logo hr{
        width: 45%;
    }

    .mail{
        width:40%;
        height:250px;
        border-radius: 10px;
        padding:20px;
        font-size: 18px;
    }

    .mail span:nth-child(1){
        font-weight: 900;
        font-size: 30px;
        color:#0477bd;
        text-align: center;
    }

    .mail span:nth-child(2){
        font-weight: 900;
        text-align: center;
    }
    
}


h3{
    color: #c5bcb2;
    font-size:17px;
}



h4{
    font-size: 19px;
}